body{
    background-image: url(https://png.pngtree.com/back_origin_pic/03/92/66/40a18c85b5ccc5657f79a83f289ccb09.jpg);
    background-attachment: scroll;
    margin-left : 80px; 
    font-size: large;
    
}

#Resume{
text-align: center;
color: orangered;

}


.photo{
    width: 250px;
    height: 250px;
    margin : 0% 40% 0 41.5%;
    border: solid 5.5px black ;
    border-radius: 200px;
    cursor: pointer;
}

h1{
    color : saddlebrown;
}

h2{

    color : #f20000e9 ;
}

table{
    border: solid 3.5px black;
     border-collapse: collapse;
     text-align: center;
}

tr{
 border: solid 3.5px black;
 border-collapse: collapse;
 text-align: center;
}

th{
 border: solid 3.5px black;
  border-collapse: collapse;
   text-align: center;
}

td{
 border: solid 3.5px black;
  border-collapse: collapse;
   text-align: center;
}

fieldset{padding : 25px}


#Email{
    margin: 25px;
    margin-left: 0px;
}

#button{
    width: 75px;
    height: 30px;
    margin-left: 80px;
    margin-top: 20px;
    font-size: large;
    color: blue;
}

#insta{
    width: 85px;
    height: 85px;
}



